<!-- About Section -->
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="lead col-sm-8 col-sm-offset-2">
        <h2>Acerca</h2>
        <p>Asesor especializado en grúas y plataformas con más de 25 años de experiencia en el medio de la maquinaria</p>
        <p>Experto en el ámbito profesional soportado por un sólido concimiento desarrollado a lo largo de 10 años de continua adjudicación de licitaciones en el sector público a nivel nacional</p>
        <p>La combinación de los siguientes factores, la participación en un sinnúmero de licitaciones con la más exigentes especificaciones, proyectos en diferentes áreas de construcción, y el manejo de una amplia gama de equipo pesado, me ha permitido convertime en una fuente de consejo robusto y solido en el ramo</p>
      </div>
    </div>
  </div>
</section>