<!-- About Section -->
<section id="about" class="content-section text-center">
<div class="container">
  <div class="row">
    <div class="lead col-sm-6 col-sm-offset-3">
      <h2>Acerca</h2>
      <p>
      Contamos con mas de 25 años de experiencia en maquinaria pesada
      y una década de adjudicación de licitaciones en el sector
      público a nivel nacional.
      </p>
      <p>
      El contínuo aprendizaje adquirido en proyectos de gobierno y
      privados, han desarrollado un respaldo de conocmiento robusto y
      profesional que distingue nuestro servicio.
      </p>
    </div>
  </div>
</div>
</section>
