<!-- Contact Section -->
<section id="contact" class="content-section">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Contacto</h2></div>
    <div class="col-sm-7">
      <form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" id="contactForm" novalidate>
        <input type=hidden name="oid" value="00D61000000H0M1">
        <input type=hidden name="retURL" value="http://www.gruasyplataformas.mx">
        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="first_name">Nombre</label>
            <input class="form-control" id="first_name" name="first_name" type="text" placeholder="Nombre" 
            maxlength="40"
            required
            data-validation-required-message="Por favor ingrese su nombre">
          </div>
        </div>

        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="last_name">Apellidos</label>
            <input class="form-control" id="last_name" name="last_name" type="text" placeholder="Apellidos"
            maxlength="80"
            required 
            data-validation-required-message="Por favor ingrese sus apellidos"> 
          </div>
        </div>

        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="email">Correo electrónico</label>
            <input class="form-control" id="email" name="email" type="email" placeholder="Correo electrónico" 
            maxlength="80"
            required
            data-validation-required-message="Por favor ingrese su correo electrónico"
            data-validation-email-message="Por favor ingrese una dicrección de correo valida"/>
          </div>
        </div>

        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="phone">Teléfono</label>
            <input class="form-control" id="phone" name="phone" type="text" placeholder="Telefóno"
            maxlength="40"/> 
          </div>
        </div>

        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="mobile">Móvil</label>
            <input class="form-control" id="mobile" name="mobile" type="text" placeholder="Móvil"
            maxlength="40"/> 
          </div>
        </div>

        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="company">Compañía</label>
            <input class="form-control" id="company" name="company" type="text" placeholder="Compañía"
            maxlength="40" /> 
          </div>
        </div>

        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="city">Ciudad</label>
            <input class="form-control" id="city" name="city" type="text" placeholder="Ciudad"
            maxlength="40" /> 
          </div>
        </div>

        <div class="row control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="state">Estado/Provincia</label>
            <input class="form-control" id="state" name="state" type="text" placeholder="Estado/Provincia"
            maxlength="20" /> 
          </div>
        </div>
        </br>
        <div id="succes"</div>
        <div class="row">
          <div class="form-group col-xs-12 col-md-12 col-lg-12">
            <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-4 col-sm-offset-1" id="personales">
    <div class="panel panel-default">
      <div class="panel-body">
      <ul class="list-unstyled">
        <li><span><i class="fa fa-mobile fa-2x"></i></span> 55 4354 0321</li>
        <li><span class="glyphicon glyphicon-envelope"></span> juan.andradec@ameco.com</li>
      </ul>
      </div>
    </div>
    </div>
</div>
</section>
