<!-- Footer -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 footer-links">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Inicio</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#mission">Misión</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">Acerca</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#productos">Productos</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contacto</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 footer-social">
                <ul class="list-inline social-buttons">
                    {% for social in site.social %}
                    <li><a href="{{ social.url }}"><i class="fa fa-{{ social.title }}"></i></a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                <p class="copyright text-muted small text-center">Copyright &copy; {{ site.title }} All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
